body {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #000;
}

header{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 40px;
  width: 100%;
  border-bottom: 1px solid #ffffff;
}

.home{
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  padding: 20px;
}

.home:hover{
  text-decoration: underline;
  color: #7e7e7e;
  color: #d6d6ea;
}

.container-aplicativo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#capa{
  border-radius: 8px;
}

button {
  background-color: inherit;
  color: inherit;
  border: none;
  cursor: pointer;
}

.music-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#informacoes-faixa {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0 1rem 0;
  font-size: 1.5rem;
  color: #ffffff;
  padding: 20px;
  gap: 5px;
  width: 100%;
  background-color: #7e7e7e;
  border-radius: 8px;
  font-family: Verdana;
  font-weight: 700;
}

.autor{
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 300;
  font-family: Arial;
}

.librivox{
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  padding: 5px;
}

.librivox:hover{
  text-decoration: underline;
  color: #000000;
}


#anterior, #proximo {
  font-size: 3rem;
  color: #ffffff;
}

#play-pause {
  font-size: 4rem;
  color: #ffffff;
}

#container-botoes {
  width: 100%;
  display: flex;
  justify-content: space-around;
}